.user-info {
    margin-top: 10px;
    font-size: 20px;
}

.edit-button, .change-password, .upload-avatar {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button:hover, .change-password:hover, .upload-avatar:hover {
    background-color: #0056b3;
}

/* Modal styles */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    position: absolute; /* 绝对定位 */
    bottom: 10px; /* 距离底部10像素 */
    right: 10px; /* 距离右边10像素 */
}

.edit-button, .change-password, .upload-avatar,.search-user{
    margin-top: 5px; /* 调整按钮间距 */
    padding: 10px 15px;
    background: linear-gradient(135deg, #FF007F, #FF7F50); /* 渐变背景色 */
    color: white; /* 字体颜色 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.search-user:hover,
.edit-button:hover, 
.change-password:hover, 
.upload-avatar:hover {
    background: linear-gradient(135deg, #FF5C8A, #FF9E80); /* 悬停时的渐变颜色变化 */
    transform: translateY(-2px); /* 悬停时轻微上移效果 */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.user-name {
    margin-left: 50px;
    font-size: 26px; /* 字体大小 */
    font-weight: bold; /* 加粗字体 */
    color: white; /* 字体颜色 */
    background: linear-gradient(135deg, #6a5acd, #00bfff); /* 渐变背景 */
    padding: 10px 20px; /* 内边距 */
    border-radius: 50px; /* 圆角 */
    display: inline-block; /* 使元素保持块级特性 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* 阴影效果 */
    text-align: center; /* 文本居中 */
    transition: transform 0.3s, box-shadow 0.3s; /* 过渡效果 */
    letter-spacing: 1px; /* 字母间距 */
}

.user-name:hover {
    transform: translateY(-5px); /* 悬停时轻微上移 */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* 悬停时的阴影效果 */
}

.footer {
    position: fixed; /* 使其固定在页面底部 */
    bottom: 0; /* 靠近底部 */
    left: 0;
    right: 0;
    background-color: #f1f1f1; /* 背景颜色 */
    text-align: center; /* 居中对齐 */
    padding: 10px 0; /* 内边距 */
}

.logout-button {
    background-color: #ff4c4c; /* 背景颜色 */
    color: white; /* 字体颜色 */
    border: none; /* 去掉边框 */
    padding: 10px 20px; /* 内边距 */
    font-size: 16px; /* 字体大小 */
    cursor: pointer; /* 鼠标指针 */
}

.logout-button:hover {
    background-color: #ff2c2c; /* 鼠标悬停效果 */
}





.post-title {
    text-align: center; /* 标题居中 */
    color: lightgray; /* 设置颜色为淡灰色 */
    margin-bottom: 20px; /* 给标题和内容之间添加一个间距 */
    font-size: 24px; /* 设置标题字体大小 */
    display: block;
}

.posts-container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap; /* 允许换行 */
    justify-content: center; /* 整体居中 */
    margin-left: 200px;
    margin-right: 200px;
}

.post-card {
    background-size: cover;
    border-radius: 8px;
    margin: 10px; /* 设置间距，自动调整间隔 */
    color: white; /* 默认文字颜色 */
    transition: transform 0.3s;
    max-width: 250px; /* 设置最大宽度 */
    max-height: 500px; /* 设置最大高度 */
    width:250px;
    height:300px;
    flex: 1 1 22%; /* 设置每个帖子占据的宽度 */
    box-sizing: border-box; /* 包含padding和border的宽度计算 */
    background-image: url('/static/images/post_background.webp'); 
    background-size: cover; /* 背景图片覆盖整个容器 */
    background-position: center; /* 设置背景图片居中 */
}

.post-card:hover {
    transform: scale(1.02); /* 鼠标悬停时的放大效果 */
}

.post-info {
    padding: 25px;
}

.post-info h2 {
    color: #FFD700; /* 标题颜色 */
    margin: 0 0 10px 0; /* 标题底部的间距 */
    overflow: hidden; /* 隐藏超出部分 */
    text-overflow: ellipsis; /* 用省略号表示超出 */
    white-space: nowrap; /* 不换行 */
}

.post-info span {
    display: block; /* 每个信息单独一行 */
    max-width: 100%; /* 最大宽度为100% */
    white-space: nowrap; /* 不换行 */
    overflow: hidden; /* 隐藏超出部分 */
    text-overflow: ellipsis; /* 用省略号表示超出 */
    margin-top: 12px;
}

.post-actions {
    padding: 10px;
    display: flex;
    justify-content: space-between; /* 按钮左右对齐 */
}

.edit-post-button, 
.delete-post-button {
    background-color: transparent; /* 按钮背景透明 */
    border: 2px solid #ffffff; /* 按钮边框颜色 */
    color: #ffffff; /* 按钮文本颜色 */
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.edit-post-button:hover, 
.delete-post-button:hover {
    background-color: #ffffff; /* 悬停时按钮背景色 */
    color: #000; /* 悬停时按钮文本颜色 */
}

.post-info a {
    text-decoration: none; /* 去掉下划线 */
    color: inherit; /* 使用父元素的颜色 */
}

.post-info a:hover {
    text-decoration: underline; /* 鼠标悬停时显示下划线 */
}

.post-info a:visited {
    color: inherit; /* 访问后的颜色和父元素相同 */
}

.modal {
    display: none;
    position: fixed;
    z-index: 10000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    /* 修改为90% */
}

/* 调整输入框和文本区域样式 */
.form-control {
    width: 95%;
    height: 40px;
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 15px;
}

/* 调整文本区域的样式 */
textarea.form-control {
    height: 150px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
