<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户主页</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="welcome-page" style="position: fixed;">
        <div id="navbar" class="nav">
            <div class="menu-container">
                <i class="fas fa-bars menu-icon" id="menu-icon"></i>
            </div>

            <div class="title">
                <img src="../static/images/tubiao.jpg" alt="网站图标" class="title-icon">
                <h1 class="title-text">My MC Community</h1>
            </div>

            <div class="hyperlink-container">
                {%if username %}
                    <img src="../static/images/touxiang.jpg" alt="默认头像" class="user-icon">
                    <a href="#"class="custom-link">{{username}}</a>
                {% else %}
                     <img src="../static/images/touxiang.jpg" alt="默认头像" class="user-icon">
                     <a href="{{url_for('login')}}" class="custom-link">登录/注册</a>   
                {% endif %}
            </div>
        </div>
        <div class="menu" id="menu">
            <ul>
                <li><a href="{{url_for('index')}}">首页</a></li>
                {% if username %}
                <li><a href="{{url_for('user',id=user_info.id)}}">用户主页</a></li>
                {% endif %}
                <li><a href="#">服务</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </div>
        <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>